# Python (Node 2, Node 3)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/          # ← 추가 (.venv 폴더)
.env
*.sqlite3
*.db

# C++ & CMake (Node 1)
build/
CMakeCache.txt
CMakeFiles/
*.o
*.out

# Qt C++ (Client - CCTV 폴더 관련 추가)
*.pro.user
*.pro.user.*
.qmake.stash
.qtcreator/
*.moc
moc_*.cpp
moc_*.h
*.obj
*.rcc
qrc_*.cpp
ui_*.h
*.exe
Makefile
Makefile.*

# OS & IDE
.DS_Store
.vscode/
.idea/

# Misc
*.log
*.tmp
*.cache

# AI 서버 관련
*.keras             # 모델 파일 (용량 큼, 별도 공유)
*.task              # MediaPipe 모델 파일
ai_server/data/
ai_server/logs/
