# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.sqlite3
*.db

# C++ & CMake
build/
CMakeCache.txt
CMakeFiles/
*.o
*.out
*.exe
*.dll
*.so

# Qt / Build outputs
*.pro.user
*.moc
*.obj
*.rcc
Makefile
Debug/
Release/

# OS & IDE
.DS_Store
.vs/
.vscode/
.idea/

# Misc
*.log
*.tmp
*.cache
